iot_final_node_red/flows.json
[
    {
        "id": "f1948e5f0c0845d3",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cc48eeda775ec235",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9c91446e09027fe6",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "6e9f74d3e87e2a1f",
        "type": "ui_group",
        "name": "Display",
        "tab": "cc48eeda775ec235",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b68e71c83aa65fad",
        "type": "ui_gauge",
        "z": "f1948e5f0c0845d3",
        "name": "",
        "group": "6e9f74d3e87e2a1f",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Setpoint",
        "label": "units",
        "format": "{{value}}",
        "min": "25",
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 520,
        "y": 360,
        "wires": []
    },
    {
        "id": "9dcf6a8752feec27",
        "type": "ui_text",
        "z": "f1948e5f0c0845d3",
        "group": "6e9f74d3e87e2a1f",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 510,
        "y": 180,
        "wires": []
    },
    {
        "id": "0a7498819b6dd7e0",
        "type": "http request",
        "z": "f1948e5f0c0845d3",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://iot-project-b6673-default-rtdb.asia-southeast1.firebasedatabase.app/status.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 330,
        "y": 180,
        "wires": [
            [
                "9dcf6a8752feec27"
            ]
        ]
    },
    {
        "id": "ffd0f86d23f978c5",
        "type": "inject",
        "z": "f1948e5f0c0845d3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "0a7498819b6dd7e0",
                "c49c5acb334eb319",
                "80248ab4cf3d0a78",
                "8361bb05a6bf6a38",
                "c2d65729210158d8"
            ]
        ]
    },
    {
        "id": "c49c5acb334eb319",
        "type": "http request",
        "z": "f1948e5f0c0845d3",
        "name": "sp",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://iot-project-b6673-default-rtdb.asia-southeast1.firebasedatabase.app/setpointValue.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 310,
        "y": 360,
        "wires": [
            [
                "b68e71c83aa65fad",
                "6dc2f705cfbec7b8"
            ]
        ]
    },
    {
        "id": "07cf13dfb3eb1f20",
        "type": "ui_text",
        "z": "f1948e5f0c0845d3",
        "group": "6e9f74d3e87e2a1f",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "High Alarm",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 530,
        "y": 240,
        "wires": []
    },
    {
        "id": "80248ab4cf3d0a78",
        "type": "http request",
        "z": "f1948e5f0c0845d3",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://iot-project-b6673-default-rtdb.asia-southeast1.firebasedatabase.app/highAlarmStatus.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 330,
        "y": 240,
        "wires": [
            [
                "07cf13dfb3eb1f20"
            ]
        ]
    },
    {
        "id": "1cb5469a2df26c0a",
        "type": "ui_text",
        "z": "f1948e5f0c0845d3",
        "group": "6e9f74d3e87e2a1f",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Low Alarm",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 530,
        "y": 300,
        "wires": []
    },
    {
        "id": "8361bb05a6bf6a38",
        "type": "http request",
        "z": "f1948e5f0c0845d3",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://iot-project-b6673-default-rtdb.asia-southeast1.firebasedatabase.app/lowAlarmStatus.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 330,
        "y": 300,
        "wires": [
            [
                "1cb5469a2df26c0a"
            ]
        ]
    },
    {
        "id": "c2d65729210158d8",
        "type": "http request",
        "z": "f1948e5f0c0845d3",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://iot-project-b6673-default-rtdb.asia-southeast1.firebasedatabase.app/currentValue.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 330,
        "y": 500,
        "wires": [
            [
                "9e4aaca20ca80e75"
            ]
        ]
    },
    {
        "id": "5e28a69bd59166d1",
        "type": "debug",
        "z": "f1948e5f0c0845d3",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 300,
        "wires": []
    },
    {
        "id": "6dc2f705cfbec7b8",
        "type": "function",
        "z": "f1948e5f0c0845d3",
        "name": "function 2",
        "func": "msg.topic = \"sp\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 420,
        "wires": [
            [
                "81fa694ac81e4a2d"
            ]
        ]
    },
    {
        "id": "81fa694ac81e4a2d",
        "type": "function",
        "z": "f1948e5f0c0845d3",
        "name": "function 1",
        "func": "var sp = {};\nvar pv = {};\n\nswitch (msg.topic) {\n    case \"pv\":\n        sp = null;\n        pv = msg;\n        break;\n    case \"sp\":\n        sp = msg;\n        pv = null;\n        break;\n    default:\n        sp = null;\n        pv = null;\n        break;\n}\nreturn [sp, pv];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 420,
        "wires": [
            [
                "74a0eb9cea8f2cae"
            ],
            [
                "74a0eb9cea8f2cae"
            ]
        ]
    },
    {
        "id": "9e4aaca20ca80e75",
        "type": "function",
        "z": "f1948e5f0c0845d3",
        "name": "function 3",
        "func": "msg.topic = \"pv\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 500,
        "wires": [
            [
                "81fa694ac81e4a2d"
            ]
        ]
    },
    {
        "id": "74a0eb9cea8f2cae",
        "type": "ui_chart",
        "z": "f1948e5f0c0845d3",
        "name": "",
        "group": "6e9f74d3e87e2a1f",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 890,
        "y": 420,
        "wires": [
            []
        ]
    }
]